body {
    margin: 0; /* Reset body margin to 0 */
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 100;
    color: #1c4587;
    text-align: center;
    padding: 0 10px; /* add this line */
}
.container {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    flex-wrap: wrap;
}
.job-box {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 10px 5px; /* Added margin property for equal margins */
}
.job-title {
    font-size: 24px;
    margin-bottom: 20px;
}
.job-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.job-info-label {
    display: block;
    margin-bottom: 5px;
    color: #666666;
}
.know-more {
    background-color: #15c;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
}
