* {
    margin: 0;
    background: white;
    padding: 0;
    height: auto;
    width: auto;
    box-sizing: border-box;
    border: none;
    /* font-family: Arial, Helvetica, sans-serif; */
   }
  
  nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 125px 0 130px;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
  }
  nav .logo{
    color: black;
    font-size: 30px;
    font-family: 'arima madurai';
    font-weight: bold;
  }
  
  .logo{
    text-decoration: none;}
  
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background: white;
  }
  nav ul li{
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 5px;
  }
  nav ul li a{
    color: black;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    /* padding: 40px 15px 15px; */
    border-radius: 5px;
    letter-spacing: 1px;
    /* transition: all 0.3s ease; */
    font-family: Arial, Helvetica, sans-serif; 
  }
  /* nav ul li a,
  nav ul li a{
    color: black;
    background: #e6e6fa;
  } */
  nav .menu-btn i{
    color: black;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  
  /* nav ul li a.active:{
      background: #e6e6fa;
      color: #007bff;
      font-weight: bold;
    } */
  
    nav ul li a {
      color: black;
      background: white;
      }
  
      nav ul li a.active{
        /* background: #1c4587;
          color: white; */
          /* font-weight: bold; */
          padding: 10px;
          padding-left: 0;
          padding-right: 0;
          border-radius: 0;
          border-bottom: 5px solid #1c4587;
      }
  
  @media (max-width: 1000px){
    nav{
      padding: 0 30px 0 50px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 50px;
      left: -100%;
      background: white;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 30px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
  
      nav ul li a {
      color: black;
      background: white;
      }
  
      nav ul li a.active{
        background: white;
          color: #1c4587;
          font-weight: bold;
          border: white;
      }
  
      nav .logo {
      font-size: 20px;
      font-weight: bold;
    }
    nav{
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 0;
      padding-bottom: 0;
      height: 50px;
    }
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: #1b1b1b;
  }
  .content div{
    font-size: 40px;
    font-weight: 700;
  }

/* below item is related to footer */
html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set a minimum height of the body to fill the viewport */
    margin: 0;
    padding: 0;
  }
  
  .footer {
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
    color: #000;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    column-gap: 40px;
    background-color: white;
    flex-wrap: wrap;
    /* box-shadow:  0 -2px 5px rgba(0, 0, 0, 0.8); */
    border-top: 1px solid black;
  }

@media only screen and (max-width: 768px) {
    .footer {
      position: relative;
      padding: 20px 10px; /* Adjust padding for mobile view */
      margin-top: auto;
    }
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* Set a minimum height of the body to fill the viewport */
        margin: 0;
        padding: 0;
    }
      
    .icon-container {
      text-align: left; /* Center align the icons for mobile view */
      margin-left: 8px; 
      margin-top: -3px;
    }
    p.footerheading {
        font-size: 16px;
        margin-bottom: 4px;
    }
    p.footercontent {
        font-size: 14px;
        margin-top: 4px;
    }
    a.icon-link{
      font-size: 2rem;
    }
    a.icon-link2{
      font-size: 2rem;
    }
  }

.footerheading {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    justify-content: center;
    margin: 10px;
    color: black;
    line-height: normal;
    }
   
   
.footercontent {
    font-family: 'inter', sans-serif;
    font-size: 18px;
    line-height: 1.25;
    font-weight: 400;
    text-align: left;
    margin: 10px;
    color: black;
   }
  
   .box1, .box2, .box3 {
    box-sizing: border-box; /* added 'border-box' to include padding and border in the box's total width and height */
    width: 100%;
    justify-content: space-around; (for the icon-container)
   }

   .icon-link, .icon-link2 {
    font-size: 1rem;
    }
   
   
  .icon-link, .icon-link2 {
    /* margin: 5px; */
    color: black;
    text-decoration: none;
    font-size: 2.5rem;
   }
   
  .icon-link:hover {
    color: #007bff;
   }
  
  .icon-link2:hover{
    color: green;
  }   
   
.box3 {
    width: 350px;
}
.box1 {
        width: 400px;
}
.box2 {
        width: 400px;
}
  
  .content-wrapper { flex: 1; padding: 0 30px; } 

  .icon-container{
    text-align: left;
    margin-left: 12px;
  }
 /*end of header and footer*/

    
  .hiringheader {
    /* margin: 40px; */
    font-family: "Montserrat", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: black;
    background: white;
    margin-bottom: 40px;
    margin-top: 60px;
    margin-left: 7%;
    margin-right: 7%;
  }
  
  .hiringheader {
    line-height: 1.15;
    padding-top: -10px;
    }
    
  #hiringheadline{
    font-size: 40px;
  }


  @media only screen and (max-width: 768px) {
    .hiringheader {
      font-size: 35px;
      line-height: 1.15;
      background-color: #;
      margin-bottom: 0px;
      margin-top: 30px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .hiringheader {
      font-size: 30Px;
      line-height: normal;
      margin-top: 30px;
    }
  }    
  
  #filter-option{
    font-size: 20px; min-width: 300px; max-width: 300px
  }

  #location-filter {
    margin: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background: white;
  }
  
  .hidden {
    display: none;
  }
  
  .filtercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: white;
    margin-bottom: 50px; margin-top: 20px;
  }
  
  .filterlinecontainer{
    margin-left: 10px; margin-right: 10px; font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .dropdown{
    border: 1px solid black; font-size: 20px;
  }
  
  @media (max-width: 780px) {
    .filtercontainer{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 20px;
      font-size: 16px;
      margin-bottom: 20px;
    }

    #filter-option{
      min-width: 200px;
      max-width: 200px;
      font-size: 16px;
    }

    .filterlinecontainer{
      margin-bottom: 10px;
      margin-top: 20px;
      font-size: 16px;
    }

  }  

  .jdjdjdjd{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
      align-items: center;
    column-gap: 20px;
          margin-bottom: 30px;
}

.jdjdjd{
    margin-bottom: 20px; 
    border: 1px solid black; 
    padding: 20px; 
    max-width: 380px;
    min-width: 380px;
    border-radius: 25px;
    transition: 0.5s;
}

.jdjdjd:hover { 
    transform: scale(1.06);
    border-color: #00A0DF;
    }

   

.jdct{
    font-family: 'montserrat';
    font-size: 14px;
    color: #666666;
    font-weight: bold;
}

.jdtt{
    font-family: 'inter';
    font-size: 16px;
    color: black;
    font-weight: 500;
}

h2{
    font-family: 'inter';
    font-size: 20px;
    color: black;
}

.jdjdjd:hover h2 { 
    color: blue; } 


@media (max-width: 920px) {
    .jdjdjd{
        max-width: 320px;
    }
    h2{
        font-size: 18px;
    }
    .jdct{
        font-size: 12px;
    }
    .jdtt{
        font-size: 14px;
    }
    #hiringheadline{
        font-size: 25px;
    }
}

a {
    text-decoration: none;
    font-style: normal;
}
  

