* {
    margin: 0;
    background: white;
    padding: 0;
    height: auto;
    width: auto;
    box-sizing: border-box;
    border: none;
    /* font-family: Arial, Helvetica, sans-serif; */
   }
  
  nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 125px 0 130px;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
  }
  nav .logo{
    color: black;
    font-size: 30px;
    font-family: 'arima madurai';
    font-weight: bold;
    padding-top: 2px;
  }
  
  .logo{
    text-decoration: none;}
  
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background: white;
  }
  nav ul li{
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 5px;
  }
  nav ul li a{
    color: black;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    /* padding: 40px 15px 15px; */
    border-radius: 5px;
    letter-spacing: 1px;
    /* transition: all 0.3s ease; */
    font-family: Arial, Helvetica, sans-serif; 
  }
  nav .menu-btn i{
    color: black;
    font-size: 22px;
    cursor: pointer;
    display: none;
      padding-top: 5.5px;
  }
  input[type="checkbox"]{
    display: none;
  }
  
  /* nav ul li a.active:{
      background: #e6e6fa;
      color: #007bff;
      font-weight: bold;
    } */
  
    nav ul li a {
      color: black;
      background: white;
      }
  
      nav ul li a.active{
        /* background: #1c4587;
          color: white; */
          /* font-weight: bold; */
          padding: 5px;
          padding-left: 0;
          padding-right: 0;
          border-radius: 0;
          border-bottom: 5px solid #1c4587;
      }
  
  @media (max-width: 1000px){
    nav{
      padding: 0 30px 0 50px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 50px;
      left: -100%;
      background: white;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 30px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
  
      nav ul li a {
      color: black;
      background: white;
      }
  
      nav ul li a.active{
        background: white;
          color: #1c4587;
          font-weight: bold;
          border: white;
      }
  
      nav .logo {
      font-size: 20px;
      font-weight: bold;
      padding-top: 1.5px;
    }
    nav{
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 0;
      padding-bottom: 0;
      height: 50px;
    }
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: #1b1b1b;
  }
  .content div{
    font-size: 40px;
    font-weight: 700;
  }

/* below item is related to footer */
html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set a minimum height of the body to fill the viewport */
    margin: 0;
    padding: 0;
  }
  
  .footer {
    margin-top: auto;
    position: relative;
    bottom: 0;
    width: 100%;
    color: #000;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    column-gap: 40px;
    background-color: white;
    flex-wrap: wrap;
    /* box-shadow:  0 -2px 5px rgba(0, 0, 0, 0.8); */
    border-top: 1px solid black;
  }

@media only screen and (max-width: 768px) {
    .footer {
      position: relative;
      padding: 20px 10px; /* Adjust padding for mobile view */
      margin-top: auto;
    }
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* Set a minimum height of the body to fill the viewport */
        margin: 0;
        padding: 0;
    }
      
    .icon-container {
      text-align: left; /* Center align the icons for mobile view */
      margin-left: 8px; 
      margin-top: -3px;
    }
    p.footerheading {
        font-size: 16px;
        margin-bottom: 4px;
    }
    p.footercontent {
        font-size: 14px;
        margin-top: 4px;
    }
    a.icon-link{
      font-size: 2rem;
    }
    a.icon-link2{
      font-size: 2rem;
    }
  }

.footerheading {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    justify-content: center;
    margin: 10px;
    color: black;
    line-height: normal;
    }
     
.footercontent {
    font-family: 'inter', sans-serif;
    font-size: 18px;
    line-height: 1.25;
    font-weight: 400;
    text-align: left;
    margin: 10px;
    color: black;
   }
  
   .box1, .box2, .box3 {
    box-sizing: border-box; /* added 'border-box' to include padding and border in the box's total width and height */
    width: 100%;
    justify-content: space-around; (for the icon-container)
   }

   .icon-link, .icon-link2 {
    font-size: 1rem;
    }
   
  .icon-link, .icon-link2 {
    /* margin: 5px; */
    color: black;
    text-decoration: none;
    font-size: 2.5rem;
   }
   
  .icon-link:hover {
    color: #007bff;
   }
  
  .icon-link2:hover{
    color: green;
  }   
   
.box3 {
    width: 350px;
}
.box1 {
        width: 400px;
}
.box2 {
        width: 400px;
}
  
  .content-wrapper { flex: 1; padding: 0 30px; } 

  .icon-container{
    text-align: left;
    margin-left: 12px;
  }
 /*end of header and footer*/

    
  .hiringheader {
    /* margin: 40px; */
    font-family: "Montserrat", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: black;
    background: white;
    margin-bottom: 40px;
    margin-top: 60px;
    margin-left: 7%;
    margin-right: 7%;
  }
  
  .hiringheader {
    line-height: 1.15;
    padding-top: -10px;
    }
    
  #hiringheadline{
    font-size: 68px;
    margin-bottom: 60px;
  }



  h1{
    font-family: "montserrat", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 63px;
    text-align: center;
    padding-top: 10px;
    /* padding-bottom: 10px; */
    margin-left: 7.5%;
    margin-right: 9%;
    margin-top: 30px;
    margin-top: 50px
    padding-left: 0;
    padding-right: 0;
  }

  @media only screen and (max-width: 768px) {
    .hiringheader {
      font-size: 35px;
      line-height: 1.15;
      background-color: #;
      margin-bottom: 0px;
      margin-top: 30px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .hiringheader {
      font-size: 30Px;
      line-height: normal;
      margin-top: 30px;
    }
  }    
  

a {
    text-decoration: none;
    font-style: normal;
}


.lmn{
  display: flex;
  justify-content: center;
  background: transparent;
}

.dfg{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  column-gap: 30px;
  width: 950px;
}

.asd{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  column-gap: 30px;
  width: 950px;
  font-family: lato;
  border: 2px solid #666666;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background: transparent;
}

h2{
  font-family: 'Roboto';
  color: black;
  font-size: 22px;
  margin-bottom: 12px;
  font-weight: 500;
  /* color: #007bff; */
}

.jdct{
  font-family: 'roboto';
  font-size: 16px;
  color: #666666  ;
  margin-bottom: 1px;
}

.jdtt{
  font-family: 'roboto';
  font-size: 16px;
  color: black;
  font-weight: 500;
}

.asd:hover { 
  border-color: #007bff;
  }

.asd:hover h2 { 
  color: #007bff; 
} 

.lmnn{
  margin-bottom: 20%;
  margin-left: 20%;
  margin-top: -39.2%;
  background: transparent;
}

@media (min-width: 345px) and (max-width: 480px){
  body .dfg{
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    border: none;
  }
  .lmn{
    display: flex;
    justify-content: center;
  }

  .asd{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    padding: 20px;
    width: 300px;
    border: none;
    border: 1px solid black;
  }

  h2{
    font-family: 'roboto';
    font-size: 18px;
    margin-bottom: 15px;
    color: #007bff;
  }
  
  .jdct{
    font-family: 'roboto';
    font-size: 12px;
    color: #666666;
    margin-bottom: 0;
  }
  
  .jdtt{
    font-family: 'roboto';
    font-size: 14px;
    color: black;
    font-weight: 500;
    margin-bottom: 15px;
  }
  #lastjdtt{
    margin-bottom: 0;
  }
  #hiringheadline{
    font-size: 25px;
  }
  .hiringheader{
    margin-bottom: 10px;
  }
  .lmnn{
    margin-top: 0;
  }
  h1{
    font-size: 28px;
  }
  .lmnn{
    margin: 0;
    padding: 0;
  }
  body .flcc{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-top: 20px;
  }
  .flcc .filter-container{
    border: 0.5px solid #666666;
    padding-left: 0;
    max-width: 250px;
    min-width: 250px;
  }
  .flcc .department-container{
    border: 0.5px solid #666666;
    max-width: 250px;
    min-width: 250px;
  }
  .lmnn{
    margin-bottom: 30px;
  }
}

.filter-container, .department-container {
  border: 2px solid #666666;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  min-width: 280px;
  max-width: 280px;
  /* margin: 10px auto; */
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.department-container{
  margin-bottom: 20px;
}


.flcc{
  min-width: 250px;
  max-width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  margin-bottom: 20%;
  margin-top: 40px;
  margin-left: 8.8%;
}




/* .custom-select {
  position: relative;
  display: inline-block;
  font-size: 16px;
  min-width: 250px;
  max-width: 250px;
} */


select {
  min-width: 250px;
  max-width: 250px;
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  border: 1px solid #666666;
  border-radius: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;utf8,<svg ... fill="%23333" ... ... xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.5 16h-.79l-.28-.27a6.5 6.5 0 0 0 ... ... ... 1.48-5.34c-.47-2.78-2.79-5-5.59-5.34a6.505 6.505 0 0 0-7.27 7.27c.34 2.8 2.56 ... ... ... 5.12 5.34 5.59a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 ... ... ... 0 .41-.41.41-1.08 0-1.49L15.5 16zm-6 0C7.01 16 5 13.99 5 11.5S7.01 7 9.5 7 14 ... ... 9.01 ... 14 11.5 11.99 16 9.5 16z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  font-family: inter;
  margin-top: 10px;
}

.select-icon {
  position: absolute;
  top: 62%;
  right: 18px;
  color: black;
  transform: translateY(-50%);
}

label{
  font-size: 16px;
  font-weight: 500;
  font-family: inter;
  margin-bottom: 5px;
}

.locationfilter label{
  margin-bottom: 5px;
}
option{
  font-size: 16px;
}

@media (max-width: 920px) {
  .filter-container, .department-container {
    max-width: 260px;
    margin-bottom: 20px;
    border: 2px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
  }
  select{
    margin-top: 6px;
    font-size: 12px;
    font-family: 'roboto';
    min-width: 210px;
    max-width: 210px;
    border: 1px solid black;
  }
  label {
    font-size: 14px;
    /* font-weight: 500; */
    font-family: 'roboto';
  }
  /* .custom-select{
    min-width: 210px;
    max-width: 210px;
    font-weight: 500;
  } */
  .custom-select option{
    font-size: 17px;
  }
}


@media (min-width: 481px) and (max-width: 1531px){
  /* .flcc{
    max-width: 700px;
    min-width: 700px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
  } */

  .flcc{
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .lmn{
    display: flex;
    justify-content: center;
    background: transparent;
  }
  
  .dfg{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    column-gap: 30px;
    width: 950px;
  }
  
  .asd{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    column-gap: 30px;
    width: 500px;
    font-family: lato;
    border: 2px solid black;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background: transparent;
  }
  
  h2{
    font-family: 'Roboto';
    color: black;
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 500;
    color: #007bff;
  }
  
  .jdct{
    font-family: 'roboto';
    font-size: 14px;
    color: #666666  ;
    margin-bottom: 1px;
  }
  
  .jdtt{
    font-family: 'roboto';
    font-size: 16px;
    color: black;
    font-weight: 500;
    margin-bottom: 12px;
  }
  h1{
    font-size: 50px;
    margin-bottom: 20px;
  }
  .lmnn{
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
  }
  .icon-container {
    text-align: left; /* Center align the icons for mobile view */
    margin-left: 8px; 
    margin-top: -3px;
  }
  p.footerheading {
      font-size: 18px;
      margin-bottom: 4px;
  }
  p.footercontent {
      font-size: 16px;
      margin-top: 4px;
  }
  a.icon-link{
    font-size: 2.8rem;
  }
  a.icon-link2{
    font-size: 2.8rem;
  }
  .footer .box1, .box2, .box3 {
    max-width: 600px;
    min-width: 600px;
  }
}

 @media (min-width: 808px) and (max-width: 1194px){
  h1{
    font-size: 50px;
  }
}
