* {
  margin: 0;
  background-color: #e6e6fa;
  padding: 0;
  height: auto;
  width: auto;
  border: none;
 }
  
.hiringheader {
  /* margin: 40px; */
  font-family: "Montserrat", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  color: black;
  background-color: #e6e6fa;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 13%;
  margin-right: 13%;
}

.detail-itemheading {
background-color: white;
}

.detail-itemcontent {
background-color: white;
}
  
h1 {
  font-size: 60px;
}

.hiringheader {
  line-height: 1.15;
  padding-top: -10px;
  }
  
@media only screen and (max-width: 768px) {
  .hiringheader {
    font-size: 30px;
    line-height: 1.15;
    background-color: #;
    margin-bottom: 0px;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .hiringheader {
    font-size: 25Px;
    line-height: normal;
    margin-top: 15px;
  }
}    

.containerjobinfo {
  font-family: "Lato";
  border: 2px solid #000;
  box-shadow: 3px 3px #007bff;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* changed from 'center' to 'space-around' */
  box-sizing: border-box;
  column-gap: 70px;
  background-color: white;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 900px;
  transition: transform 0.1s, border-color 0.1s; / added transition property 
 }

.detail-itemheading {
  font-size: 14px;
  color: #464646;
  background-color: white;
  margin-bottom: -20px;
  font-style: normal;
  font-weight: bold;

}

.detail-itemcontent {
  font-size: 16px;
  color: black;
  background-color: white;
  align-items: center; 
  line-height: 1.25; 
  margin-bottom: 10px;
}

.detail-itemcontenttitle {
  color: black;
  background-color: white;
  line-height: 1.15; 
  font-size: 25px; 
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

.containerjobinfo:hover .inner-box1 .detail-itemcontenttitle { color: #007bff; }

@media only screen and (max-width: 768px) {
  .detail-itemheading {
    font-size: 12px;
  }
  .detail-itemcontent {
    font-size: 14px;
  }
  .detail-itemcontenttitle {
    font-size: 20px;
  }
}

@media only screen and (max-width: 480px) {

}   


@media only screen and (max-width: 768px) {
  .containerjobinfo {
      width: 320px;
      display: flex;
      flex-wrap: wrap;
      column-gap: 0;
      justify-content: space-between;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  .inner-box1 {
        /* margin-top: 8px; */
        margin-bottom: 20px;
        background-color: white;
    }
}




.inne-box1, inner-box2, inner-box3 {
  background-color: white;
}  

.detail-item {
  background-color: white;
}


.containerjobinfo:hover { 
transform: scale(1.05);
border-color: #00A0DF;
}

.containerjobinfo:hover .inner-box1 .detail-item { color: #007bff; }



.container2 {
  margin: 0;
  margin-top: 50px;
  /* margin-left: 20px;
  margin-right: 20px; */
  /* border: 1px solid #000; */
  /* column-gap: 20px; */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
  justify-content: center; changed from 'center' to 'space-around'
  box-sizing: border-box;
  background-color: #e6e6fa;
  color: white;
  /* align-items: center;
  align-content: center; */
} 

footer {
border-top: 1px solid #000;
position: static;
bottom: 0;
box-sizing: border-box;
padding-top: 20px;
padding-bottom: 20px;

left: 0;
right: 0;
column-gap: 40px;
}

.footerheading {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  justify-content: center;
  margin: 10px;
  color: black;
  line-height: normal;
  }
 
 
.footercontent {
  font-family: 'inter', sans-serif;
  font-size: 18px;
  line-height: 1.25;
  font-weight: 400;
  text-align: left;
  margin: 10px;
  color: black;
 }

 @media only screen and (max-width: 768px) {
  .footerheading {
      font-size: 17px;
      margin-bottom: 7px;
  }
  .container2 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .footercontent {
      font-size: 16px;
      margin-top: 7px;
  }
  .container2{
    margin-bottom:20px;
  }
}

@media only screen and (max-width: 480px) {
  .footerheading {
      font-size: 18px;
      margin-bottom: 10px;
  }
  .footercontent {
      font-size: 15px;
      margin-top: 10px;
  }
  .icon-link, .icon-link2 {
      font-size: 1rem;
  }
  .container2{
    margin-bottom:20px;
  }
}    

  .icon-link, .icon-link2 {
      font-size: 1rem;
  }
}    

.box1, .box2, .box3 {
  box-sizing: border-box; /* added 'border-box' to include padding and border in the box's total width and height */
 }
 
 
.icon-container {
  display: flex;
  text-align: left;
  margin-left: 6px;
 }
 
 
.icon-link, .icon-link2 {
  margin: 5px;
  color: black;
  text-decoration: none;
  font-size: 2.5rem;
 }
 
.icon-link:hover {
  color: #007bff;
 }

.icon-link2:hover{
  color: green;
}   
 
.box3 {
     width: 400px;
 }
 
 
.box1 {
     width: 400px;
 }
 
 
.box2 {
     width: 400px;
 }

footer{
  margin-top: auto;
}

.box1 .box2 .box3 {
  width: 100%;
  justify-content: space-around; (for the icon-container)
}

.content-wrapper { flex: 1; padding: 0 30px; } 



/* Job description css */
.jdcontainer {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
  padding-top: 10px;
  border: 2px solid #000;
  margin-top: 15px;
  margin-bottom: 15px;
  /* margin-left: 10px;
  margin-right: 10px; */
  background-color: white;
}



.jdcontentline {
  background-color: white;
}

h1 {
  color: black;
  font-family: "Lato";
  font-weight: bold;
}

/* h3 {
  margin-bottom: -10px;
} */



.jdapplybutton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 20px;
  font-size: 16px;
}

.jdapplybutton:hover {
  background-color: #0056b3;
}

.jdshortdetailscontainer {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* changed from 'center' to 'space-around' */
  box-sizing: border-box;
  background-color: white;
}

.jdtitle {
font-size: 40px;
line-height: 1.15;
background-color: white;
margin-top: 10px;
margin-bottom: 20px;
}  

.jdshortitle {
  color: black;
  font-weight: 550;
  font-size: 16px;
  background-color: white;
  font-family: lato;
}  

.jdshortitlecontent  {
color: black;
font-size: 16px;
background-color: white;
font-family: lato;
}

.jdlineunderlinetitle {
  color: black;
  font-weight: 550;
  font-size: 16px;
  background-color: white;
  font-family: lato;
}

.jdlineunderlinecontent {
  color: black;
  font-size: 16px;
  background-color: white;
  font-family: lato;
}

.jdlineunderline {
  background-color: white;
  line-height: 1;
}

ul, li {
  color: black;
  font-size: 16px;
  background-color: #e6e6fa;
  line-height: 1.15;
  margin-bottom: 10px;
  font-family: lato;
  }

.jdcontentline {
margin-bottom: 5px;
font-family: lato;
}


@media only screen and (max-width: 768px) {
  .jdcontainer {
    max-width: 320px;
  }
  .jdtitle {
    font-size: 20px;
    margin-bottom: 10px;
  }
  ul, li {
    font-size: 12px;
  }
  .jdshortitlecontent {
    font-size: 12px;
  }
  .jdshortitle {
    font-size: 12px;
    margin-bottom: 2px;
  }
  .jdcontentline {
    margin-bottom: -2px;
  }
  .jdlineunderlinecontent {
    font-size: 12px;
  }
  .jdlineunderlinetitle {
    font-size: 12px;
  }
    .jdapplybutton {
    font-size: 14px;
  }
}
